<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>

<body>
    <script>
        function petDetails() {
            if (document.getElementById('lookingForPets').checked) {
                document.getElementById('petQuestions').style.display = 'block';
            } else {
                document.getElementById('petQuestions').style.display = 'none';
            }
        }
        console.log("Pet Sign Up detail is working!")
    </script>
    <%- include('../includes/nav.ejs'); %>
    <main>
        <%- include('../includes/message.ejs'); %>
        <form class="login-form" action="/signup" method="POST">
            <div class="formline">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%=page.data.name%>">
            </div>
            <div class="formline">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%=page.data.email%>">
            </div>
            <div class="formline">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="formline">
                <label for="confirmedPassword">Confirmed Password</label>
                <input type="password" name="confirmedPassword" id="confirmedPassword">
            </div>
            <div>
                <label for="lookingForPets">Looking for Pet(s)?</label>
                <input type="checkbox" onclick="petDetails()" id="lookingForPets" name="lookingForPets" value="Yes">
            </div>
            <div id="petQuestions" style="display:none">
                <div class="form-control breed">               
                    <%- include('../includes/controls/breed_select.ejs'); %>
                </div>
    
                <div class="form-control size">
                    <%- include('../includes/controls/size_select.ejs'); %>
                </div>
    
                <div class="form-control gender">
                    <%- include('../includes/controls/gender_select.ejs'); %>
                </div>
    
                <div class="form-control age">
                    <%- include('../includes/controls/age_select.ejs'); %>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="button" type="submit">Sign Up</button>
        </form>
    </main>

</body>

</html>