<!-- <!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>
<body>
    <%- include('../includes/nav.ejs'); %>
<main>
    <%- include('../includes/message.ejs'); %>
    <form method="post" action="/admin/edit-book<%=book?('/'+book.isbn):''%>">
        <div class="formline">
            <label for="isbn">ISBN</label>
            <input type="number" name="isbn" value="<%=book?book.isbn:''%>">
        </div>
        <div class="formline">
            <label for="title">Title</label>
            <input type="text" name="title" value="<%=book?book.title:''%>">
        </div>
        <div class="formline">
            <label for="subtitle">Subtitle</label>
            <input type="text" name="subtitle" value="<%=book?book.subtitle:''%>">
        </div>
        <div class="formline">
            <label for="author">Author</label>
            <input type="text" name="author" value="<%=book?book.author:''%>">
        </div>
        <div class="formline">
            <label for="description">Description</label>
            <textarea name="description" rows="5"><%=book?book.description:''%></textarea>
        </div>
        <div class="formline">
            <label for="price">Price</label>
            <input type="number" name="price" step=".01" value="<%=book?book.price:''%>">
        </div>
        <div class="formline">
            <label for="image">Image</label>
            <input type="text" name="image" value="<%=book?book.image:''%>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Save">
    </form>
</main>
</body>
</html> -->