<%- include('../includes/head.ejs') %>

        <%- include('../includes/nav.ejs') %>

            <main>
                <% if (pets.length > 0) { %>
                    <div class="grid">
                        <% for (let pet of pets) { %>
                            <article class="card pet-item">
                                <header class="card__header">
                                    <h1 class="pet__name">
                                        <%= pet.name %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= pet.imageUrl %>" alt="<%= pet.name %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="pet__name">$
                                        <%= pet.name %>
                                    </h2>

                                    <h2 class="pet__breed">$
                                        <%= pet.breed %>
                                    </h2>

                                    <h2 class="pet__adoptionFee">$
                                        <%= pet.adoptionFee %>
                                    </h2>
                                    <p class="pet__description">
                                        <%= pet.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-pet/<%= pet._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-pet" method="POST">
                                        <input type="hidden" value="<%= pet._id %>" name="petId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No pets Found!</h1>
                    <% } %>
            </main>

            <%- include('../includes/footer.ejs') %>
