<%- include('../includes/head.ejs') %>


   <%- include('../includes/nav.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="pet-form" 
            action="/admin/<% if (editing) { %>edit-pet<% } else { %>add-pet<% } %>?_csrf=<%=csrfToken%>" 
            method="POST" 
            enctype="multipart/form-data">
            
            <div class=formTitle>
                <h1>Register a Dog</h1>
            </div>

            <div class="form-control name">
                <label for="name">Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>" required
                    type="text" name="name" id="name" value="<% if (editing || hasError) { %><%= pet.name %><% } %>">
            </div>

            <div class="form-control imageUrl">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>" required
                    type="text" name="imageUrl" id="imageUrl" value="<% if (editing || hasError) { %><%= pet.imageUrl %><% } %>">
            </div>

            <!-- <div class="form-control imageFile">
                <label for="imageFile">Image Upload</label><br>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageFile') ? 'invalid' : '' %>"
                    type="file" 
                    name="imageFile" 
                    id="imageFile" 
                    value="<% if (editing || hasError) { %><%= pet.imageFile %><% } %>">
            </div> -->

            <div class="form-control breed">               
                <%- include('../includes/controls/breed_select.ejs'); %>
            </div>

            <div class="form-control size">
                <%- include('../includes/controls/size_select.ejs'); %>
            </div>

            <div class="form-control gender">
                <%- include('../includes/controls/gender_select.ejs'); %>
            </div>

            <div class="form-control age">
                <%- include('../includes/controls/age_select.ejs'); %>
            </div>

            <div class="imageDisplay">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150?text=Image" alt="" id="imageDisplay"></a>
            </div>

            <div class="form-control specialNeeds">
                <label for="specialNeeds">Special Needs</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'specialNeeds') ? 'invalid' : '' %>" 
                    name="specialNeeds" id="specialNeeds" 
                    rows="5"><% if (editing || hasError) { %><%= pet.specialNeeds %><% } %></textarea>
            </div>       

            <div class="form-control description">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" required
                    name="description" id="description" 
                    rows="15"><% if (editing || hasError) { %><%= pet.description %><% } %></textarea>
            </div>            

            <% if (editing) { %>
                <input type="hidden" value="<%= pet._id %>" name="petId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" id="addPet" type="submit"><% if (editing) { %>Update pet<% } else { %>Add pet<% } %></button>
        </form>
    </main>

    <%- include('../includes/footer.ejs') %>
