<section style="text-align: center;">
    <% if (pageObject.currentPage !== 1 && pageObject.previousPage !== 1) { %>
      <a href="<%= page.path %>/?page=1">First</a>
    <% } %>
    <% if (pageObject.hasPreviousPage) { %>
      <a href="<%= page.path %>/?page=<%= pageObject.previousPage %>">Prev</a>
    <% } %>
    <a href="<%= page.path %>/?page=<%= pageObject.currentPage %>"><%= pageObject.currentPage %></a>  
    <% if (pageObject.hasNextPage) { %>
      <a href="<%= page.path %>/?page=<%= pageObject.nextPage %>">Next</a>
    <% } %>
    <% if (pageObject.lastPage !== pageObject.currentPage && pageObject.nextPage !== pageObject.lastPage) { %>
      <a href="<%= page.path %>/?page=<%= pageObject.lastPage %>">Last</a>
    <% } %>
</section>