<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>

<body>
  <%- include('../includes/nav.ejs'); %>
  <main>
    <%- include('../includes/message.ejs'); %>

    <section class="search">
      <form action="/search/humans" method="POST">
        <div class="filter">
          <label for="pet_breed">Breed</label>
          <select id="pet_breed" name="pet_breed">
            <option></option>
            <option <% if(searchParams.pet_breed == "German Shepard") {%> selected <%}%>>German Shepard</option>
            <option <% if(searchParams.pet_breed == "Golden Retriever") {%> selected <%}%>>Golden Retriever</option>
            <option <% if(searchParams.pet_breed == "Mix") {%> selected <%}%>>Mix</option>
          </select>
        </div>
        <div class="filter">
          <label for="pet_size">Size</label>
          <select id="pet_size" name="pet_size">
            <option></option>
            <option <% if(searchParams.pet_size == "Large") {%> selected <%}%>>Large</option>
            <option <% if(searchParams.pet_size == "Medium") {%> selected <%}%>>Medium</option>
            <option <% if(searchParams.pet_size == "Small") {%> selected <%}%>>Small</option>
          </select>
        </div>
        <div class="filter">
          <label for="pet_activity_level">Activity Level</label>
          <select id="pet_activity_level" name="pet_activity_level">
            <option></option>
            <option <% if(searchParams.pet_activity_level == "Active") {%> selected <%}%>>Active</option>
            <option <% if(searchParams.pet_activity_level == "Normal") {%> selected <%}%>>Normal</option>
            <option <% if(searchParams.pet_activity_level == "Lethargic") {%> selected <%}%>>Lethargic</option>
          </select>
        </div>
        <div class="filter">
          <label for="pet_fenced_yard">Needs Fenced Yard</label>
          <select id="pet_fenced_yard" name="pet_fenced_yard">
            <option></option>
            <option <% if(searchParams.pet_fenced_yard === true) {%> selected <%}%>>Yes</option>
            <option <% if(searchParams.pet_fenced_yard === false) {%> selected <%}%>>No</option>
          </select>
        </div>
        <div class="filter">
          <label for="pet_gender">Gender</label>
          <select id="pet_gender" name="pet_gender">
            <option></option>
            <option <% if(searchParams.pet_gender == "Male") {%> selected <%}%>>Male</option>
            <option <% if(searchParams.pet_gender == "Female") {%> selected <%}%>>Female</option>
          </select>
        </div>
        <div class="filter">
          <label for="pet_age">Age</label>
          <select id="pet_age" name="pet_age">
            <option></option>
            <option <% if(searchParams.pet_age == "Puppy") {%> selected <%}%>>Puppy</option>
            <option <% if(searchParams.pet_age == "Adolescent") {%> selected <%}%>>Adolescent</option>
            <option <% if(searchParams.pet_age == "Adult") {%> selected <%}%>>Adult</option>
            <option <% if(searchParams.pet_age == "Senior") {%> selected <%}%>>Senior</option>
          </select>
        </div>
        <div class="filter">
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/humans">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </section>
    <div class="twocol">
      <% data.forEach(user=>{ %>
      <article class="card simple">
        
        <h2><%=user.name%></h2>
        <section class="details">
          <span class="label">Breed</span>
          <span><%= user.pet_breed %></span>
          <span class="label">Age</span>
          <span><%= user.pet_age %></span>
          <span class="label">Gender</span>
          <span><%= user.pet_gender %></span>
          <span class="label">Size</span>
          <span><%= user.pet_size %></span>
          <span class="label">Activity Level</span>
          <span><%= user.pet_activity_level %></span>
          <span class="label">Fenced Yard</span>
          <span><% if(user.pet_fenced_yard) { %> Yes <% } else { %> No <% } %></span>
        </section>
        <div class="actions">
          <a class="button" href="book">Details</a>
          <% if(userLevel>0) { %>
          <form action="/cart" method="post">
            <button class="button" type="submit">Add to Cart</button>
            <input type="hidden" name="isbn" value="<%=  %>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          </form>
          <% } %>
        </div>
      </article>
      <% }); %>
    </div>
  </main>
</body>

</html>