<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>

<body>
  <%- include('../includes/nav.ejs'); %>
  <main>
    <%- include('../includes/message.ejs'); %>

    <div class="search">
      <form action="/search/humans" method="POST">
        <div class="filter">         
          <%- include(__dirname+'/views/includes/controls/breed_select.ejs'); %>         
        </div>
        <div class="filter">
          <%- include('../includes/controls/size_select.ejs'); %>   
        </div>
        <div class="filter">
          <%- include('../includes/controls/gender_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../includes/controls/age_select.ejs'); %>
        </div>
        <div class="filter">
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/humans">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </div>
    <div class="twocol">
      <% data && data.forEach(user=>{ %>
      <article class="card simple">
        
        <h2><%=user.name%></h2>
        <div class="details">
          <span class="label">Breed</span>
          <span><%= user.pet_breed %></span>
          <span class="label">Age</span>
          <span><%= user.pet_age %></span>
          <span class="label">Gender</span>
          <span><%= user.pet_gender %></span>
          <span class="label">Size</span>
          <span><%= user.pet_size %></span>
          <%- include(__dirname+'/views/includes/email_button.ejs', {sendTo: user._id})%>
        </div>
      </article>
      <% }); %>
      <% if(!data || !data.length) {%> 
        <h3>No results found.</h3>
      <% } %>
    </div>
    <!-- for pagination -->
    <%- include(__dirname+'/views/includes/pagination.ejs', {pageObject: pageObject}); %>
  </main>
</body>

</html>