<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>

<body>
  <%- include('../includes/nav.ejs'); %>
  <main>
    <%- include('../includes/message.ejs'); %>

    <section class="search">
      <form action="/search/humans" method="POST">
        <div class="filter">         
          <%- include(__dirname+'/views/includes/controls/breed_select.ejs'); %>         
        </div>
        <div class="filter">
          <%- include('../includes/controls/size_select.ejs'); %>   
        </div>
        <div class="filter">
          <%- include('../includes/controls/activityLevel_select.ejs'); %> 
        </div>
        <div class="filter">
          <%- include('../includes/controls/fencedYard_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../includes/controls/gender_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../includes/controls/age_select.ejs'); %>
        </div>
        <div class="filter">
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/humans">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </section>
    <div class="twocol">
      <% data.forEach(user=>{ %>
      <article class="card simple">
        
        <h2><%=user.name%></h2>
        <section class="details">
          <span class="label">Breed</span>
          <span><%= user.pet_breed %></span>
          <span class="label">Age</span>
          <span><%= user.pet_age %></span>
          <span class="label">Gender</span>
          <span><%= user.pet_gender %></span>
          <span class="label">Size</span>
          <span><%= user.pet_size %></span>
          <span class="label">Activity Level</span>
          <span><%= user.pet_activity_level %></span>
          <span class="label">Fenced Yard</span>
          <span><% if(user.pet_fenced_yard) { %> Yes <% } else { %> No <% } %></span>
        </section>
        <div class="actions">
          <a class="button" href="book">Details</a>
          <% if(userLevel>0) { %>
          <form action="/cart" method="post">
            <button class="button" type="submit">Add to Cart</button>
            <input type="hidden" name="isbn" value="<%=  %>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          </form>
          <% } %>
        </div>
      </article>
      <% }); %>
    </div>
    <!-- for pagination -->
    <%- include(__dirname+'/views/includes/pagination.ejs', {pageObject: pageObject}); %>
  </main>
</body>

</html>