<!DOCTYPE html>
<html lang="en">
<%- include('../../includes/head.ejs'); %>
<body>
<%- include('../../includes/nav.ejs'); %>
<main>
    <%- include('../../includes/message.ejs'); %>
    <div>
        <h1>
            <%= breedInfo.name %>
        </h1>
        <div class="img-container" id="breed-image">
        </div>
        <div class="grid">
            <div class="stack">
                <div>
                    <h3>
                        Life Span
                    </h3>
                    <div>
                        <%= breedInfo.life_span %>
                    </div>
                </div>
                <div>
                    <h3>
                        Typical Weight
                    </h3>
                    <div>
                        <%= breedInfo.weight.imperial %> lbs
                    </div>
                    <div>
                        <%= breedInfo.weight.metric %> kg
                    </div>
                </div>
                <div>
                    <h3>
                        Typical Height
                    </h3>
                    <div>
                        <%= breedInfo.height.imperial %> in
                    </div>
                    <div>
                        <%= breedInfo.height.metric %> cm
                    </div>
                </div>
            </div>
            <div class="stack">
                <div>
                    <h3>
                        Temperament
                    </h3>
                    <div>
                        <%= breedInfo.temperament %>
                    </div>
                </div>
                <div>
                    <h3>
                        Bred For
                    </h3>
                    <div>
                        <%= breedInfo.bred_for %>
                    </div>
                </div>
                <div>
                    <h3>
                        Breed Group
                    </h3>
                    <div>
                        <%= breedInfo.breed_group %>
                    </div>
                </div>
            </div>
        </div>
        <input id="breed-id" type="hidden" value="<%= breedInfo.reference_image_id %>">
        <div class="footer-container">
            <a class="button" href="/search/pets">Go back</a>
        </div>
    </div>
</main>
<script>
  const fetchBreedImage = async () => {
    const {value: breedId} = document.getElementById("breed-id");
    if (breedId) {
      const {src} = await (await fetch(`/search/breeds/${breedId}`)).json();
      document.getElementById("breed-image").innerHTML = `<img src="${src}">`;
    }
  }
  document.onload = fetchBreedImage();
</script>
</body>

</html>