<!DOCTYPE html>
<html lang="en">
<%- include('../../includes/head.ejs'); %>

<body>
  <%- include('../../includes/nav.ejs'); %>
  <main>
    <%- include('../../includes/message.ejs'); %>
    <section class="search">
      <form action="/search/pets" method="POST">
        <div class="filter">
          <label for="breed">Breed</label>
          <select id="breed" name="breed">
            <option></option>
            <% dogBreeds.map(breed => { %>
              <option <% if (searchParams.breed === breed) { %> selected <% }%>> <%= breed %></option>
            <% }) %>
          </select>
        </div>
        <div class="filter">
          <label for="size">Size</label>
          <select id="size" name="size">
            <option></option>
            <option <% if(searchParams.size == "Large") {%> selected <%}%>>Large</option>
            <option <% if(searchParams.size == "Medium") {%> selected <%}%>>Medium</option>
            <option <% if(searchParams.size == "Small") {%> selected <%}%>>Small</option>
          </select>
        </div>
        <div class="filter">
          <label for="activityLevel">Temperament</label>
          <select id="activityLevel" name="activityLevel">
            <option></option>

            <% dogTemperaments.map(temperament => { %>
              <option <% if (searchParams.activityLevel === temperament) { %> selected <% }%>> <%= temperament %></option>
            <% }) %>
          </select>
        </div>
        <div class="filter">         
          <label for="gender">Gender</label>
          <select id="gender" name="gender">
            <option></option>
            <option <% if(searchParams.gender == "Male") {%> selected <%}%>>Male</option>
            <option <% if(searchParams.gender == "Female") {%> selected <%}%>>Female</option>
          </select>
        </div>
        <div class="filter">
          <label for="age">Age</label>
          <select id="age" name="age">
            <option></option>
            <option <% if(searchParams.age == "Puppy") {%> selected <%}%>>Puppy</option>
            <option <% if(searchParams.age == "Adolescent") {%> selected <%}%>>Adolescent</option>
            <option <% if(searchParams.age == "Adult") {%> selected <%}%>>Adult</option>
            <option <% if(searchParams.age == "Senior") {%> selected <%}%>>Senior</option>
          </select>
        </div>
        <div class="filter">          
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/pets">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </section>

    <div class="twocol">
      <% data.forEach(pet=>{ %>
      <article class="card simple">

        <h2><%=pet.name%></h2>
        <img src="<%= pet.imageUrl %>">

        <section class="details">
          <span class="label">Breed</span>
          <span><%= pet.breed %></span>
          <span class="label">Age</span>
          <span><%= pet.age %></span>
          <span class="label">Gender</span>
          <span><%= pet.gender %></span>
          <span class="label">Size</span>
          <span><%= pet.size %></span>
          <span class="label">Activity Level</span>
          <span><%= pet.activityLevel %></span>
        </section>

        <div class="actions">
          <a class="button" href="/search/pets/details/<%= pet.breed %>">Details</a>
          <% if(userLevel>0) { %>
          <form action="/cart" method="post">
            <button class="button" type="submit">Add to Cart</button>
            <input type="hidden" name="isbn" value="<%=  %>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          </form>
          <% } %>

        </div>

      </article>
      <% }); %>
    </div>
  </main>
</body>

</html>