<!DOCTYPE html>
<html lang="en">
<%- include('../../includes/head.ejs'); %>

<body>
  <%- include('../../includes/nav.ejs'); %>
  <main>
    <%- include('../../includes/message.ejs'); %>
    <section class="search">
      <form action="/search/pets" method="POST">
        <div class="filter">
          <%- include('../../includes/controls/breed_select.ejs'); %>
        </div>
        <div class="filter">
          <label for="size">Size</label>
          <%- include('../../includes/controls/size_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../../includes/controls/activityLevel_select.ejs'); %>
        </div>
        <div class="filter">         
          <%- include('../../includes/controls/gender_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../../includes/controls/age_select.ejs'); %>
        </div>
        <div class="filter">          
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/pets">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </section>

    <div class="twocol">
      <% data.forEach(pet=>{ %>
        <%- include(__dirname+'/views/includes/pet_card.ejs', {pet: pet})%>
      <% }); %>
    </div>
    <!-- for pagination -->
    <%- include('../../includes/pagination.ejs'); %>
  </main>
</body>

</html>