<!DOCTYPE html>
<html lang="en">
<%- include('../../includes/head.ejs'); %>

<body>
  <%- include('../../includes/nav.ejs'); %>
  <main>
    <%- include('../../includes/message.ejs'); %>
    <div class="search">
      <form action="/search/pets" method="POST">
        <div class="filter">
          <%- include('../../includes/controls/breed_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../../includes/controls/size_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../../includes/controls/activityLevel_select.ejs'); %>
        </div>
        <div class="filter">         
          <%- include('../../includes/controls/gender_select.ejs'); %>
        </div>
        <div class="filter">
          <%- include('../../includes/controls/age_select.ejs'); %>
        </div>
        <div class="filter">          
          <button class="button" type="submit">Search</button>
          <a class="button" href="/search/pets">Reset</a>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </div>
      </form>
    </div>

    <div class="twocol">
      <% data && data.forEach(pet => { %>
        <%- include(__dirname+'/views/includes/pet_card.ejs', {pet: pet})%>
      <% }) %>       
    </div>
    <% if(data.length === 0)  { %> 
      <h3>No pets were found with the information you searched for.</h3>
    <% } %>
    <!-- for pagination -->
    <%- include(__dirname+'/views/includes/pagination.ejs', {pageObject: pageObject}); %>
  </main>
</body>

</html>