<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>
<body>
    <%- include('../includes/nav.ejs'); %>
    <main>
        <%- include('../includes/message.ejs'); %>
        <% if (data.length > 0) { %>
            <table>
                <% data.forEach(item => {%>
                    <tr>
                        <td><%= item.bookId.title %></td>
                        <td>Quantity: <%= item.quantity %></td>
                        <td><form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= item.bookId._id %>" name="id">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button danger" type="submit">Delete One</button>
                        </form></td>
                    </tr>
                <% }) %>
                </table>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
</body>
</html>