<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs'); %>
<body>
    <%- include('../includes/nav.ejs'); %>
<main>
    <%- include('../includes/message.ejs'); %>
    <div class="twocol">
    <% data.forEach(book=>{ %>
        <article class="product simple">
            <img src="<%=book.image%>" alt="Image of <%=book.title%>">
            <div class="book_info">
                <h2 class="book_title"><%=book.title%></h2>
                <h3 class="book_subtitle"><%=book.subtitle%></h3>
                <div class="book_author"><%=book.author%></div> 
                <div class="book_price">$<%=book.price.toFixed(2)%></div>
                <div class="row">
                    <a class="button" href="book/<%=book.isbn%>">Details</a>
                    <% if(userLevel>0) { %>
                        <form action="/cart" method="post">
                            <button class="button" type="submit">Add to Cart</button>
                            <input type="hidden" name="isbn" value="<%= book.isbn %>">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        </form>
                    <% } %>

                </div>
            </div>
        </article>
    <% }); %>
    </div>  
</main>
</body>
</html>